{% extends "base.html" %}

{% block head_title %}About the App Engine People website{% endblock %}
{% block main_content %}
<div class="container_12">
	<div class="grid_12">
		<h1>About App Engine People</h1>
		<p>App Engine People lists <a href="http://code.google.com/appengine/">Google App Engine</a> developers from around the world, and aims to help developers find like-minded people near them and possibly start up some local meet-ups and user groups. The App Engine People website is not affiliated with <a href="http://www.google.com">Google Inc.</a> and was built as a clone of <a href="http://djangopeople.net/">DjangoPeople.net</a> by the people that run <a href="http://www.devsar.com">devsar</a> & <a href="http://www.livemade.com">livemade:</a>.</p><p>For feedback, suggestions or to contact us, please email us at <a href="mailto:info@livemade.com">info@livemade.com</a></p>
	</div>
</div>
{% endblock %}
